body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', 'YuGothic', 'Meiryo', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay-content {
  font-size: 10pt;
  border-radius: 10px;
}

.overlay-content>ul {
  list-style: none;
  margin: 0;
  padding: 0.5em;
}


#map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.maplibregl-popup .maplibregl-popup-content {
  width: 350px;
  max-height: 450px;
  overflow-y: auto;

  font: 12px 'Hiragino Kaku Gothic ProN', 'YuGothic', 'Meiryo', 'sans-serif';
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  color: black;
  text-align: left;

  background-color: rgba(255, 255, 255, 0.8);
}

.maplibregl-popup-content .key {
  min-width: 100px;
  font-style: italic;
  font-size: 1.0em;
  color: #555555;
}

.maplibregl-popup-content .key:after {
  content: ":";
}

.maplibregl-popup-content .value {
  margin-left: 1.0em;
  font-size: 1.2em;
  color: #000000;
}

.maplibregl-popup-content .unit {
  margin-left: 0.2em;
  font-size: 0.8em;
  color: #555555;
}

.maplibregl-popup-content .news-contents {
  margin: 0.1em 0 1.0em 0.2em;
}

.maplibregl-popup-content .news-list {
  max-height: 100px;
  margin: 0;
  padding-left: 1.0em;
  overflow-y: auto;
}

.maplibregl-popup-content .news-item {
  margin-left: 1.0em;
  list-style-type: disc;
  font-size: 0.8em;

  color: #000000;
}

.maplibregl-popup-content h1 {
  margin: 0 0 0.1em 0;

  font-size: 1.0em;
  color: #555555;
}

.maplibregl-popup-content ul {}

.maplibregl-popup-content li {
  list-style-type: none;
}